// text helpers
.text--center {
  text-align: center;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--bold {
  font-weight: bold;
}

.list--unstyled {
  list-style: none;
  padding-left: $padding/0.5;
}

.no-padding {
  padding: 0px !important;
}

.h--center {
  margin: 0 auto;
  float: none;
}

// custom styles based on screen size
@each $name, $breakpoint in $browser-breakpoints {
  @media (min-width: $breakpoint) {

    //Creates: .display--none__sm, .display--none__md, .display--none__lg
    .display-none--#{$name} {
      display: none;
    }
    //Creates: .display--none__sm, .display--none__md, .display--none__lg
    .h--center--#{$name} {
      margin: 0 auto;
      float: none;
    }

  }
}